<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Watermarker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Watermarker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Watermarker.Properties.Settings>
            <setting name="ImageFormatIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FontFamily" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FontStyleIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveOnCloseCheck" serializeAs="String">
                <value>False</value>
            </setting>
        </Watermarker.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Watermarker.Properties.Settings>
            <setting name="AppURL" serializeAs="String">
                <value>http://watermarker.codeplex.com/</value>
            </setting>
        </Watermarker.Properties.Settings>
    </applicationSettings>
<connectionStrings><add name="WatermarkerEntities" connectionString="metadata=res://*/WatermarkDBM.csdl|res://*/WatermarkDBM.ssdl|res://*/WatermarkDBM.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;D:\My Documents\My Dropbox\Projects\Watermarker\WindowsFormsApplication1\Watermarker.sqlite&quot;'" providerName="System.Data.EntityClient"/></connectionStrings><startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
